/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte e cores padrão */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

/* Container centralizado */
.container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px;
    max-width: 1100px;
    margin: auto;
}

/* HEADER */
header {
    background: #1a1a1a;
    padding: 15px 0;
}

.container-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 150px;
    margin-left: -300px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #f4c20d;
}
/* FOOTER */
footer {
    background: #1a1a1a;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 505px;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
}

.logo-footer {
    height: 50px;
    margin-bottom: 10px;
}

.redes-sociais a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s;
}

.redes-sociais a:hover {
    color: #f4c20d;
}
/*Estilização da tabela de encomendas*/
table{
    width: 100%;
    margin-bottom: 2%;
    table-layout: fixed;
}
th{
    font-weight: bold;
    background-color: #f4c20d;
}
td, th{
    padding: 10px;
    margin: 0;
    border: 1px solid #ccc;
    text-align: center;
}