/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte e cores padrão */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

/* Container centralizado */
.container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px;
    max-width: 1100px;
    margin: auto;
}

/* HEADER */
header {
    background: #000000;
    padding: 15px 0;
}

.container-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 150px;
    margin-left: -300px;

}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #f4c20d;
}

/* BANNER */
.banner img {
    width: 100%;
    height: auto;
}

/* SOBRE NÓS */
.sobre-nos img {
    max-width: 400px;
    border-radius: 10px;
}

.sobre-nos h2 {
    color: #1a1a1a;
    margin-bottom: 10px;
}

/* ESTABELECIMENTO */
.estabelecimento {
    text-align: center;
    padding: 40px;
    background: linear-gradient(to right, #f4c20d, #ff9900);
    color: #fff;
}

.mapa iframe {
    margin-top: 20px;
    border-radius: 10px;
}

/* PRODUTOS HOME */
.produtos-home {
    text-align: center;
    padding: 40px;
}

.produtos-home ul {
    list-style: none;
    margin-top: 20px;
}

.produtos-home li {
    background: #eee;
    padding: 10px;
    margin: 5px auto;
    max-width: 300px;
    border-radius: 5px;
}

/* VÍDEO */
.video {
    text-align: center;
    padding: 40px;
}

/* FOOTER */
footer {
    background: #1a1a1a;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
}

.logo-footer {
    height: 50px;
    margin-bottom: 10px;
}

.redes-sociais a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s;
}

.redes-sociais a:hover {
    color: #f4c20d;
}
.quadrado {
    width: 650px;
    height: 450px;
    background: transparent;
    font-size: 20px;
    border-radius: 30px; 
    margin-left: 30px;
    margin-bottom: -300px;
    display: flex;
    flex-direction: column;
}
