/* PRODUTOS PAGE */
.produtos-page {
    padding: 40px;
    text-align: center;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1100px;
    margin: auto;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.card h3 {
    margin: 15px 0 10px;
}

.card p {
    font-size: 0.9em;
    color: #555;
}

.preco {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    color: #f4c20d;
    font-size: 1.2em;
}

.card:hover {
    transform: scale(1.03);
}
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte e cores padrão */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    color: #333;
}

/* Container centralizado */
.container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 40px;
    max-width: 1100px;
    margin: auto;
}

/* HEADER */
header {
    background: #1a1a1a;
    padding: 15px 0;
}

.container-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
     height: 150px;
    margin-left: -300px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #f4c20d;
}
/* FOOTER */
footer {
    background: #1a1a1a;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 370px;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
  
}

.logo-footer {
    height: 50px;
    margin-bottom: 10px;
}

.redes-sociais a {
    color: white;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s;
}

.redes-sociais a:hover {
    color: #f4c20d;
}
